/*
*
* Alerts
*
*/
.alert {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-danger {
    $link-color: #c73c49;

    border: 1px solid $danger-200;
    background-color: $danger-100;
    color: $danger-700;

    .alert-link {
      color: $link-color;
    }
  }

  &-warning {
    $link-color: #9e8b4f;

    border: 1px solid $warning-200;
    background-color: $warning-100;
    color: $warning-700;

    .alert-link {
      color: $link-color;
    }
  }

  .home & {
    font: {
      size: 12px;
      style: italic;
    }
  }
}
