/* 
*
* Reset
*
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* 
*
* Alerts
*
*/
.alert {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-danger {
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;

    .alert-link {
      color: #c73c49;
    }
  }

  &-warning {
    border: 1px solid #e0ce98;
    background-color: #fff3cd;
    color: #856404;

    .alert-link {
      color: #9e8b4f;
    }
  }

  .home & {
    font: {
      size: 12px;
      style: italic;
    }
  }
}

/* 
*
* Buttons
*
*/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  color: #fff;

  &-danger {
    background: #721c24;

    &:hover {
      border: 1px solid #f5c6cb;
      background-color: #f8d7da;
      color: #721c24;
    }
  }

  &-warning {
    background: #856404;

    &:hover {
      background: #fff3cd;
      color: #856404;
      border: 1px solid #e0ce98;
    }
  }
}
