@import "globals/reset";
@import "globals/variables";
@import "globals/mixins";

h1 {
  font-size: 40px;

  @include phone {
    font-size: 18px;
  }

}

p {
  font-size: 16px;

  @include phone {
    font-size: 14px;
  }
}