@import "globals/reset";
@import "globals/mixins";

/*
*
* Content
*
*/

%shadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

%bg-error {
  background: rgb(247, 170, 170);
  color: rgb(117, 49, 49);
}

%bg-success {
  background: rgb(179, 247, 170);
  color: rgb(49, 117, 69);
}

%content {
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;

  @extend %shadow;

  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

.content-1 {
  // @include content;
  @extend %content;
  @extend %bg-error;
}

.content-2 {
  // @include content;
  @extend %content;
  @extend %bg-success;
}
