/*
*
* Alerts
*
*/
.alert {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-danger {
    border: 1px solid $danger-700;
    background-color: $danger-100;
    color: $danger-700;

    .alert-link {
      color: $danger-600;
    }
  }
}
