/*
*
* Buttons
*
*/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;

  &-danger {
    border: 1px solid $danger-700;
    background-color: $danger-100;
    color: $danger-700;

    &:hover {
      background-color: $danger-700;
      color: $danger-100;
    }
  }
}
